body {
	background-color: black;
	color: white;
}

/* sidebar */

.sidenav {
	width: 160px;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 20px;
	border-right: 2px solid white;
	display: block;
}	

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	display: block;
	font-size: 25px;
}

.sidenav button, h2{
	display: inline;
	margin-left: 15px;
	font-size: 25px;
}

.sidenav button {
	background: black;
	color: blue;
	border: 1px solid blue;
}

/* main text of website */

.main {
	margin-left: 160px;
	margin-top: 40px;
	padding: 0px 10px;
	font-size: 28px;
}

/* menu icon */

.sand {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
}

.sandwhich {
	width: 35px;
	display: none;
}

.mobile {
	display: block; 
}





.pop {
background-color: black;
overflow-x: hidden;
z-index: 1;
display: none; 
height: 250px; 
width: 200px; 
border: 1px solid white; 
margin: 0; 
position: fixed; 
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%);}

.pop a {
padding: 6px 8px 6px 16px;
font-size: 18px;
display: block;
text-decoration: none;
}

.pop div{
height: 10px;
margin-top: 0;
}

.pop button {
position: absolute;
right: 0;
}


/* small screen / mobile screen settings */

@media screen and (max-width: 600px) {
	.sidenav {display: none;}
	.main {margin-left: 0;}
	.sandwhich {display: block;}
}
